
<div class="text-center">
    @*<h1 class="display-4">Estudiantes</h1>*@


    @*Test*@
    @*Fin *@


    <div class="btn-container">
        <button type="button" id="btnNewsSuject" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nuevo</button>
        <button type="button" disabled id="btnEditSuject" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Editar</button>
        @* <button type="button" disabled id="btnDeleteSuject" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Eliminar</button> *@
    </div>

    <div id="gridContainerSujects"></div>


</div>

<script>


$(document).ready(function() { 
    
    GetSujectsJson();  
    
});
    var idInstituSend = @ViewBag.idInstitu;
    var idSelectSuject = 0;

    function GetSujectsJson() {
        
        $('#gridContainerSujects').dxDataGrid({
            dataSource: {
                load: function () {
                    return $.ajax({
                        url: '@Url.Action("GetSujectsJson", "Suject")',
                        data: { idInstitu: idInstituSend },
                        dataType: "json"
                    });
                }
            },
            paging: {
                pageSize: 10,
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 25, 50, 100],
            },
            searchPanel: {
                visible: true,
                highlightCaseSensitive: true,
            }, scrolling: {
                mode: 'standard', // 'virtual' o 'standard'
                // Otros ajustes de desplazamiento si es necesario
            },
            groupPanel: { visible: true },
            grouping: {
                autoExpandAll: false,
            },
            allowColumnReordering: true,
            keyExpr: 'ID',
            showColumnLines: true,
            showRowLines: true,
            rowAlternationEnabled: false,
            showBorders: true,
            hoverStateEnabled: true,
            selection: {
                mode: 'multiple',
            },
            width: '100%',
            columns: [
                {
                    dataField: 'name',
                    caption: "Nombre"
                },
                {
                    dataField: 'code',
                    caption: "Código"
                },
                {
                    dataField: 'description',
                    caption: "Descripción"
                }
                

            ],
            onRowDblClick: function (e) {
                CreateUpdatenSuject()
            }, 
            onRowClick: function (e) {
                idSelectSuject = e.data.id
            },
            onSelectionChanged(selectedItems) {
               
                var selectedRowKeys = selectedItems.selectedRowKeys;
                if (selectedRowKeys.length === 1) {
                    idSelectSuject = selectedRowKeys[0].id;
                    activeBtnSuject();
                } else {
                    disableBtnSuject();
                }
            }
        });

    }

    function CreateUpdatenSuject() {
       
        $.ajax({
            url: '@Url.Action("CreateUpdate", "Suject")',
            method: 'GET',
            data: { id: idSelectSuject },
            success: function (data) {
               confirmDailog = $.confirm({
                    buttons: false,
                    boxWidth: '70%',
                    useBootstrap: false,
                    closeIcon: true,
                    title: '',
                    content: data,
                    type: 'green',
                    typeAnimated: true
                });
            }
        });

    }

    // Btns actions
    $("#btnNewsSuject").click(function (event) {
        event.preventDefault();
        idSelectSuject = 0;
        deselectAllRowsGridGrades();
        disableBtnSuject();
        CreateUpdatenSuject();
       
    });

    $("#btnEditSuject").click(function (event) {
        event.preventDefault();
        CreateUpdatenSuject();
        disableBtnSuject();
    });

    $("#btnPeriodSuject").click(function (event) {
        event.preventDefault();
        getSuject();
    });

    $("#btnDeleteSuject").click(function (event) {
        event.preventDefault();
        disableBtnSuject();
        deleteSuject();
    });


    function activeBtnSuject() {
        $('#btnEditSuject').prop("disabled", false);
        $('#BtnSujectSuject').prop("disabled", false);
        $('#btnDeleteSuject').prop("disabled", false);
    }

    function disableBtnSuject() {
        $('#btnEditSuject').prop("disabled", true);
        $('#BtnSujectSuject').prop("disabled", true);
        $('#btnDeleteSuject').prop("disabled", true);
    }

    function refresshGridSujects() {
        var dataGrid = $("#gridContainerSujects").dxDataGrid("instance");
        dataGrid.refresh();
    }

    function deselectAllRowsGridGrades() {
        var dataGrid = $('#gridContainerSujects').dxDataGrid('instance');
        dataGrid.clearSelection();
    }

    function deleteSuject() {

        $.confirm({
            typeAnimated: true,
            type: 'red',
            title: 'Confirmar',
            content: 'Se va a eliminar esta Asignatura. Desea continuar?',
            buttons: {
                Continuar:{
                    text: 'Continuar',
                    btnClass: 'btn-red',
                    action:function () {
                        showGlobalLoadingIndicator()
                        $.ajax({
                            
                            url: '@Url.Action("Delete", "Suject")',
                            method: 'Post',
                            data: { id: idSelectSuject },
                            success: function (data) {
                                id = 0;
                                deselectAllRowsGridGrades();
                                disableBtnSuject();
                                hideGlobalLoadingIndicator();
                                if (data.result) {
                                    toastr.success(data.data, 'Correcto!');
                                    refresshGridSujects();
                                } else {
                                    toastr.error(data.data, 'Error!');
                                }

                            }
                        });
                    }
                }
                ,
                Cancelar: {
                    text: 'Cancelar',
                    btnClass: 'btn-default',  // Clase de Bootstrap para el botón "Cancelar"
                    action: function () {
                        // Lógica para cancelar
                    }
                }
            }
        });
    }



</script>

<style>
    .btn-container {
        display:flex;
        justify-content:end;
        padding-bottom: 10px;
        min-width: 200px;
        margin-right: 10px;
        margin-top: 10px;
    }

    #btnNewsSuject{
        margin-left: 10px;
        margin-right: 10px;
    }

    #BtnSujectSuject {
        margin-left: 10px;
        margin-right: 10px;
    }

    #btnEditSuject {
        margin-right: 10px;
    }

</style>
