@using MontessoriSystem.Core.Application.ViewModels.User
@model ForgotPassWordViewModel
@{
    ViewData["Title"] = "Forgot Password";   
    Layout = "_LayoutLogin";


}
    

<div class="login-content" id="container-send-email">


    <div class="container-login card">

        <div class="container-form-login">
            <h1 class="title-login">Olvidó su Contraseña</h1>
            <p class="mb-3 mt-3 text-white">Por favor, introduzca su correo electrónico para recuperar su contraseña</p>

            <form id="formForgotPassword" >
                
                <div class="mb-3">
                    <label asp-for="Email" class="form-label lable-style">Correo Electrónico</label>
                    <input type="email" id="email" asp-for="Email" class="form-control" placeholder="Correo Electrónico">
                    @* <span asp-validation-for="Email" class="text-danger fw-bold"></span> *@
                </div>

                <div class="container-btn-login">
                    <button type="button" id="btn-send-email" class="btn btn-primary btn-login">Enviar</button>
                </div>
                <div class="container-link-login" id="btn-link-go-login">
                    <a asp-area="" asp-controller="User" asp-action="Index"  class="link-go-login"> Volver Al Login  </a>
                </div>

            </form>
        </div>
    </div>




</div>

<script>

    $(document).ready(function () {
       $('#formForgotPassword').validate({});

        $("#email").rules("add", {
            required: true,
            messages: {
                required: 'Debe de especificar un correo electrónico'
            }
        });



    });


    

    $("#btn-send-email").click(function () {
        $('#formForgotPassword').validate({});
        if ($('#formForgotPassword').valid()) {
            $("#btn-send-email").prop("disabled", true);
            $("#btn-send-email").text('Enviando...');
            $("#btn-link-go-login").prop("disabled", true);
           
            sendRequest();
        } else {
            return false;
        }
        
    });



    function sendRequest() {
        var formData = $('#formForgotPassword').serialize();
        $.ajax({
            url: 'ForgotPassword',
            method: 'POST',
            data: formData,
            success: function (data) {
                if (data.result){

                    var container = $("#container-send-email");

                    container.html(`
                    <div class="container-login card">
                        <div class="container-form-login">
                            <h1 class="title-login">¡Correcto!</h1>
                            <a href="/User/Index"  class="btn-login btn btn-success"> Volver </a>
                        </div>
                    </div>`
                    );

                    toastr.success(data.data)
                   
                }else{
                    toastr.error(data.messages)
                }  
                $("#btn-send-email").text('Enviar');
                $("#btn-send-email").prop("disabled", false);
                $("#btn-link-go-login").prop("disabled", false);
            },
            error: function (error) {
                toastr.error('Ocurrio un error. Intente nuevamente!', 'Error!')
            }
        });
    }


</script>


<style>
    #email-error {
        color: rgb(220 53 69) !important;
        font-weight:bold;
    }
    .container-forgot-password
    {
        margin:20px;
        margin-top:150px;
        width:100%;
        max-width:500px;
        height:40vh;
    }

    .btn-send-email  {
        width:100% !important
    }

    .container-link-login{
        justify-content:center;
        display:flex;
        margin-top: 30px;
        text-align: center;
    }
    .link-go-login{
        font-weight:bold;
        text-decoration:none;      
    
    }
    


</style>

