@using MontessoriSystem.Core.Application.ViewModels.User
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Restablecer Contrasena";
    Layout = "_LayoutLogin";

}



<div class="login-content" id="container-reset-password">


    <div class="container-login card" >

        <div class="container-form-login">
            <h1 class="title-login">Cambiar Contraseña</h1>
            
            <form method="post" asp-controller="User" asp-action="ResetPassword" id="formResetPassword">
                 <div class="mb-3">
                    <label asp-for="Email" class="form-label lable-style">Correo Electrónico</label>
                    <input id="email" type="email" class="form-control" placeholder="Correo Electrónico" asp-for="Email">
                     @* <span asp-validation-for="Email" class="text-danger"></span> *@
                 </div>
                 <div class="mb-3">
                    <label asp-for="Password" class="form-label lable-style">Contraseña</label>
                    <input id="password" class="form-control" type="password" asp-for="Password" placeholder="Contraseña">
                     @* <span asp-validation-for="Password" class="text-danger"></span> *@
                 </div>
                 <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label  lable-style">Contraseña</label>
                    <input id="confirmPassword" class="form-control" type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                     @* <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@
                 </div>
                 <input type="hidden" asp-for="token" />

                <button type="button" class="btn btn-outline-warning float-end " id="btn-reset-password">Restablecer Contraseña</button>
                <a class="btn btn-outline-success float-end" asp-area="" asp-controller="User" asp-action="Index">Cancelar</a>
             </form>

        </div>
    </div>




</div>

<script>

    $(document).ready(function () {
        
        

        $('#formResetPassword').validate({});

        $("#email").rules("add", {
            required: true,
            messages: {
                required: 'Debe de especificar un correo electrónico'
            }
        });

        $("#password").rules("add", {
            required: true,
            messages: {
                required: 'Campo Requerido'
            }
        });

        $("#confirmPassword").rules("add", {
            
            messages: {
                required: 'Campo Requerido'
            },                
            required: true,
            samePassword: true
        });
        $.validator.addMethod("samePassword", function (value, element, param) {
            var originalPassword = $("#password").val();
            var confirmPassword = value;
            if (originalPassword && confirmPassword) {
                return originalPassword === confirmPassword;
            }
            return true; 
        }, 'Las contraseñas no coinciden.');


    });




    $("#btn-reset-password").click(function () {
        $('#formResetPassword').validate({});
        if ($('#formResetPassword').valid()) {
            $("#btn-reset-password").prop("disabled", true);
            $("#btn-reset-password").text('Restableciendo...');

            sendRequest();
        } else {
            return false;
        }

    });



    function sendRequest() {
        var formData = $('#formResetPassword').serialize();
        $.ajax({
            url: 'ResetPassword',
            method: 'POST',
            data: formData,
            success: function (data) {
                if (data.result) {

                    var container = $("#container-reset-password");

                    container.html(`
                        <div class="container-login card">
                            <div class="container-form-login">
                                <h1 class="title-login">¡Correcto!</h1>
                                <a href="/User/Index"  class="btn-login btn btn-success"> Volver </a>
                            </div>
                        </div>`
                    );

                    toastr.success(data.data)

                } else {
                    toastr.error(data.messages)
                }
                $("#btn-reset-password").text('Restablecer Contraseña');
                $("#btn-reset-password").prop("disabled", false);
            },
            error: function (error) {
                toastr.error('Ocurrio un error. Intente nuevamente!', 'Error!')
            }
        });
    }


</script>


<style>
    #btn-reset-password {
        margin-left:20px;
    }
    #email-error {
        color: rgb(220 53 69) !important;
        font-weight: bold;
    }

    #password-error {
        color: rgb(220 53 69) !important;
        font-weight: bold;
    }

    #confirmPassword-error {
        color: rgb(220 53 69) !important;
        font-weight: bold;
    }

    .container-forgot-password {
        margin: 20px;
        margin-top: 150px;
        width: 100%;
        max-width: 500px;
        height: 40vh;
    }

    .btn-send-email {
        width: 100% !important
    }

    .container-link-login {
        justify-content: center;
        display: flex;
        margin-top: 30px;
        text-align: center;
    }

    .link-go-login {
        font-weight: bold;
        text-decoration: none;
    }
</style>


   


